<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Personal APP</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <main class="container">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/" role="button">Home</a>
              <a class="nav__link" href="/contacts" role="button">Contacts</a>
            </li>
          </ul>
        </nav>
      </header>

      <section class="content">
        {% block header %}
        <h1 class="content__title">Welcome to the Personal App !</h1>
        {% endblock %} {% with messages =
        get_flashed_messages(with_categories=true) %} {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
          <li class="{{category}} flash">{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}{% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
