<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Personal APP</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <main class="container">
      <nav
        style="
          margin-bottom: 20px;
          border-bottom: 2px solid;
          padding-left: 30px;
        "
      >
        <ul>
          <li><a href="/contacts/" role="button">Get contacts</a></li>
          <li><a href="/detail/" role="button">Get contact by id</a></li>
          <li><a href="/delete/" role="button">Delete contact by id</a></li>
        </ul>
      </nav>
      <section class="content">
        <header>{% block header %}{% endblock %}</header>
        {% for message in get_flashed_messages() %}
        <div class="message">{{message}}</div>
        {% endfor%} {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
