{% extends "index.html" %} {% block header %}
<h1>Delete Contact</h1>
<br />
{% endblock %} {% block content%}
<div class="container">
  <div>
    <form method="post">
      <div>
        <input type="id" id="id" name="id" placeholder="Enter contact id" />
      </div>
      <button type="submit">Send</button>
    </form>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="alert">{{messages}}</div>
  {% endfor %} {% endif %} {% endwith %}
</div>

{% endblock %}
