{% extends "index.html" %} {% block header %}
<h1>Your contact</h1>
<br />
{% endblock %} {% block content%}
<div class="container">

  <div>
    <form method="post">
      <div>
        <input type="id" id="id" name="id" placeholder="Enter contact id" />
      </div>
      <button type="submit">Send</button>
    </form>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
    in messages %}
    <div class="alert">{{messages}}</div>
    {% endfor %} {% endif %} {% endwith %}

  <div class="table__wrapper">
    <table class="table"></table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{contact['contact_id']}}</td>
        <td>{{contact['first_name']}}</td>
        <td>{{contact['last_name']}}</td>
        <td>{{contact['email']}}</td>
        <td>{{contact['phone']}}</td>
      </tr>

    </tbody>
  </div>
</div>
{% endblock %}
