{% extends "base.html" %} {% block header %}
<h3 class="contact__header">Contact</h3>
{% endblock %} {% block content%}
<div class="contact__container">
  <h2 class="contact__title">
    {{contact['first_name'] + " " + contact['last_name']}}
  </h2>
  <div class="table__wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{contact['email']}}</td>
          <td>{{contact['phone']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
